*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}

.mainContainer{
    height: 100vh;
    width: 100vw;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 30rem;
    width: 20rem;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
}

.box1{
    height: 18rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.box2{
    height: 3rem;
    width: 22rem;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 15px;
    font-family: "Outfit";
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.box3{
    height: 5rem;
    width: 22rem;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0/5rem;
    border-radius: 15px;
    font-family: "Outfit";
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
}



/* 

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
 */
